<%-include("./partalis/header")%>

<div class="dashboard-wrapper">
    <div class="dashboard-influence">
        <div class="container-fluid dashboard-content">
            <!-- ============================================================== -->
            <!-- pageheader  -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <%-include("./partalis/flash")%>
                        <h3 class="mb-2">Show Post </h3>
                            
                        <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Post</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end pageheader  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- content  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- influencer profile  -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card influencer-profile-data">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-2 col-lg-4 col-md-4 col-sm-4 col-12">
                                    <div class="text-center">
                                        <img src="<%=blog.img%>" alt="User Avatar" class=" user-avatar-xxl">
                                        </div>
                                    </div>
                                    <div class="col-xl-10 col-lg-8 col-md-8 col-sm-8 col-12">
                                        <div class="user-avatar-info">
                                            <div class="m-b-20">
                                                <div class="user-avatar-name">
                                                    <h2 class="mb-1"></h2>
                                                </div>
                                                <div class="rating-star  d-inline-block">
                                    <h1><%=blog.name%></h1>
                                                </div>
                                            </div>
                                            <!--  <div class="float-right"><a href="#" class="user-avatar-email text-secondary">www.henrybarbara.com</a></div> -->
                                            <div class="user-avatar-address">
                                                <p class="border-bottom pb-3">
                                             
                                                    <span class="mb-2 ml-xl-4 d-xl-inline-block d-block"> date: <%=blog.date%></span>
                                                    
                                                </p>
                                                <div class="mt-3">
<p><%=blog.desc%></p>                                                </div>

                                            </div>
                                        </div>
                                        <a href="/admin/blog/<%=blog._id%>/edit" class="btn btn-success btn-lg">edit</a>
                                        <form action="/admin/blog/<%=blog._id%>?_method=DELETE" method="post">
                                            <button class="btn btn-danger btn-lg">Delete</button>
                                        </form>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            
                            </div>
                        </div>
                       
                        <div class="footer">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                       Copyright © 2018 Concept. All rights reserved. Dashboard by <a href="#">Mahender</a>.
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end footer -->
                        <!-- ============================================================== -->
                    </div>
                    <!-- ============================================================== -->
                    <!-- end wrapper  -->
                    <!-- ============================================================== -->
                </div>
                <!-- ============================================================== -->
                <!-- end main wrapper  -->
                <!-- ============================================================== -->
                <!-- Optional JavaScript -->
                <!-- jquery 3.3.1 -->
                <script src="assets/vendor/jquery/jquery-3.3.1.min.js"></script>
                <!-- bootstap bundle js -->
                <script src="assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
                <!-- slimscroll js -->
                <script src="assets/vendor/slimscroll/jquery.slimscroll.js"></script>
                <!-- main js -->
                <script src="assets/libs/js/main-js.js"></script>
                <!-- morris-chart js -->
                <script src="assets/vendor/charts/morris-bundle/raphael.min.js"></script>
                <script src="assets/vendor/charts/morris-bundle/morris.js"></script>
                <script src="assets/vendor/charts/morris-bundle/morrisjs.html"></script>
                <!-- chart js -->
                <script src="assets/vendor/charts/charts-bundle/Chart.bundle.js"></script>
                <script src="assets/vendor/charts/charts-bundle/chartjs.js"></script>
                <!-- dashboard js -->
                <script src="assets/libs/js/dashboard-influencer.js"></script>
</body>

</html>